<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer class="site-footer border-top" style="background: linear-gradient(to bottom, rgba(189, 195, 199, 1), white);">
      <div class="container">
        <div class="row" style="display: flex; justify-content: space-between">
          <div class="col-lg-5 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-6">
                <h3 class="footer-heading mb-4">Страницы</h3>
              </div>
              <div class="col-md-6">
                <h3 class="footer-heading mb-4">Категории</h3>
              </div>
              <div class="col-md-12 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="#">Домашняя страница</a></li>
                  <li><a href="#">Про нас</a></li>
                  <li><a href="#">Каталог</a></li>
                  <li><a href="#">Корзина</a></li>
                </ul>
              </div>

              <div class="col-md-12 col-lg-6">
                <ul class="list-unstyled">
                  <li><a href="{% url 'core:shop' 'Люстры' 'all' %}">Люстры</a></li>
                  <li><a href="#">Двери</a></li>
                  <li><a href="{% url 'core:shop' 'Декор для стен' 'all' %}">Декор для стен</a></li>
                  <li><a href="{% url 'core:shop' 'Паркет' 'all' %}">Напольные покрытия</a></li>
                  <li><a href="{% url 'core:shop' 'Трековые системы' 'all' %}">Техническое освещение</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <h3 class="footer-heading mb-4">Контакты</h3>
              <ul class="list-unstyled">
                <li class="address">Алматы, ул. Розыбакиева, 237</li>
                <li class="phone"><a>+7‒702‒059‒02‒38</a></li>
                <li class="email">comfy.you@gmail.com</li>
{#                <li><a href="https://2gis.kz/almaty/firm/70000001052458346?m=76.917042%2C43.204335%2F14.43"><img src="{% static 'img/logo-2gis.png' %}" height="30px"></a></li>#}
              </ul>
              <div style="display: flex; gap: 15px; margin-bottom: 20px">
                  <a href="https://www.instagram.com/comfy_you.kz/" style="font-size: 30px" class="fa fa-instagram"></a>
                  <a href="https://t.me/+77020590238" style="font-size: 30px" class="fa fa-telegram"></a>
                  <a href="https://wa.me/+77020590238" style="font-size: 30px" class="fa fa-whatsapp"></a>
              </div>
              <div class="block-7">
                  <form action="#" method="post">
                    <h3 class="footer-heading mb-4">Получать все новости</h3>
                    <div class="form-group">
                      <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Телефон">
                      <input type="submit" class="btn btn-sm btn-primary" value="ОК">
                    </div>
                  </form>
              </div>

          </div>
          <div class="col-md-6 col-lg-3">
            <h1 class="text-secondary text-uppercase mb-4 text-dark"><a href="https://2gis.kz/almaty/firm/70000001052458346" class="text-dark">Мы в <img src="{% static 'img/2gis.png' %}" width="45%"></a></h1>
              <a href="https://2gis.kz/almaty/firm/70000001052458346" class="text-dark"><div id="map" style="width:100%; height:250px"></div></a>
          </div>
        </div>
      </div>
    </footer>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [51.178030, 71.458079],
            zoom: 13
        });

        DG.marker([51.178030, 71.458079]).addTo(map).bindPopup('Казахстан, Астана, улица Шары Жиенкуловой, 8/2');
    });
</script>
</html>