<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<header style="position: absolute; z-index: 1; width: 100% ; margin-top: 30px">
        <div class="header">
            <div class="logo">
                <h1 style="color: white">COMFY</h1>
                <img alt="Comfy You" src="{% static 'img/comfy_loog.png' %}" height="50px">
                <h1 style="color: white">YOU</h1>
            </div>
            <div class="links">
                <a href="" class="text">Новиник</a>
                <a href="" class="text">О нас</a>
                <a href="" class="text">Каталог</a>

                <div style="display: flex; gap: 10px; align-items: center">
                    <a href="">
                        <img src="{% static 'img/search.png' %}" height="40px">
                    </a>
                    <a href="">
                    <img src="{% static 'img/profile.png' %}" height="40px">
                    </a>
                    <a href="">
                        <img src="{% static 'img/basket.png'%}" height="40px">
                    </a>
                </div>
            </div>
        </div>
    </header>
</html>