<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <title>Comfy You</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css'%}">
{#    <link rel="stylesheet" href="css/slick.css">#}
{#    <link rel="stylesheet" href="{% static 'css/price_rangs.css'%}">#}
{#    <link rel="stylesheet" href="{% static 'css/slick.css'%}">#}
    <link rel="stylesheet" href="{% static 'css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
  <link rel="stylesheet" href="{% static 'css/style2.css'%}">

  </head>
  <body>

  <div class="site-wrap">
    {% include 'header.html'  %}

    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'core:home' %}">Главная</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">{{ category.title }}</strong></div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
      {% if subcategory != 'all' and subcategory.is_parket %}
        <div class="coll-md-12 mb-5" style="background: url({{ subcategory.image.url }}); height: 100px; text-align: center;">
            <h1 class="text-light">{{ subcategory.title }}</h1>
        </div>
      {% endif %}
        <div class="row mb-5">

          <div class="col-md-9 order-2">

            <div class="row">
              <div class="col-md-12 mb-5">
                <div class="float-md-left mb-4"><h2 class="text-black h5">Все товары</h2></div>
                <div class="d-flex">
                  <div class="dropdown mr-1 ml-md-auto">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuOffset" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Latest
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                      <a class="dropdown-item" href="#">Men</a>
                      <a class="dropdown-item" href="#">Women</a>
                      <a class="dropdown-item" href="#">Children</a>
                    </div>
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" id="dropdownMenuReference" data-toggle="dropdown">Reference</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                      <a class="dropdown-item" href="#">Relevance</a>
                      <a class="dropdown-item" href="#">Name, A to Z</a>
                      <a class="dropdown-item" href="#">Name, Z to A</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Price, low to high</a>
                      <a class="dropdown-item" href="#">Price, high to low</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-5">
            {% for item in items %}
              <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                <div class="block-4 text-center border">
                  <figure class="block-4-image">
                    <a href="{% url 'core:detail' item.slug %}"><img src="{{ item.image.url }}" alt="Image placeholder" class="img-fluid" style="height: 250px"></a>
                  </figure>
                  <div class="block-4-text p-4">
                    <h3><a href="{% url 'core:detail' item.slug %}">{{ item.title }}</a></h3>
                    <p class="text-primary font-weight-bold">₸{{ item.get_price }}</p>
                  </div>
                    <p><button class="buy-now btn btn-sm btn-primary" id="add_to_card"  value="{{ item.slug }}" type="button" name="{{ item.title }}">В Корзину</button></p>

                </div>
              </div>
              {% endfor %}
            </div>
{#          {% endif %}#}
{#            {% if items.has_other_pages %}#}
{#              <nav class="d-flex justify-content-center wow fadeIn">#}
{#                <ul class="pagination pg-blue">#}
{#                  {% if items.has_previous %}#}
{#                  <li class="page-item">#}
{##}
{#                    <a class="page-link" href="?page={{ items.previous_page_number }}" aria-label="Previous">#}
{#                      <span aria-hidden="true">&laquo;</span>#}
{#                      <span class="sr-only">Previous</span>#}
{#                    </a>#}
{#                  </li>#}
{#                  {% endif %}#}
{##}
{#                  <li class="page-item active">#}
{#                    <a class="page-link" href="?page={{ items.number }}">{{ items.number }}#}
{#                      <span class="sr-only">(current)</span>#}
{#                    </a>#}
{#                  </li>#}
{##}
{#                  {% if items.has_next %}#}
{#                  <li class="page-item">#}
{#                    <a class="page-link" href="?page={{ items.next_page_number }}" aria-label="Next">#}
{#                      <span aria-hidden="true">&raquo;</span>#}
{#                      <span class="sr-only">Next</span>#}
{#                    </a>#}
{#                  </li>#}
{#                  {% endif %}#}
{#                </ul>#}
{#              </nav>#}
{#              {% endif %}#}
            <div class="row" data-aos="fade-up">
              <div class="col-md-12 text-center">
                <div class="site-block-27">
                  <ul>
                  {% if items.has_previous %}
                    <li><a href="?page={{ items.previous_page_number }}">&lt;</a></li>
                  {% endif %}
                      {% for i in pages %}
                          <li {% if items.number == i %}class="active"{% endif %}><a href="?page={{ i }}"><span>{{ i }}</span></a></li>
                      {% endfor %}
                  {% if items.has_next %}
                    <li><a href="?page={{ items.next_page_number }}">&gt;</a></li>
                  {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3 order-1 mb-5 mb-md-0">
            <div class="border p-4 rounded mb-4">
              <h3 class="mb-3 h6 text-black d-block">Категории</h3>
              <ul class="list-unstyled mb-0">
                  {% for sub in category.subcategories.all %}
                <li class="mb-1"><a href="{% url 'core:shop' category.title sub.title %}" class="d-flex"><span>{{ sub.title }}</span> <span class="text-black ml-auto"></span></a></li>
                  {% endfor %}
              </ul>
            </div>

            <div class="border p-4 rounded mb-4">
{#              <aside class="left_widgets p_filter_widgets price_rangs_aside">#}
{#                    <div class="l_w_stitle">#}
{#                    <h3 class="mb-3 h6 text-black d-block">Цена</h3>#}
{#                    </div>#}
{#                    <div class="widgets_inner">#}
{#                        <div class="range_item">#}
{#                            <input type="text" class="js-range-slider" value="" />#}
{#                            <div class="d-flex pb-0">#}
{#                            <p style="margin-bottom: 0">от: </p>#}
{#                            <p style="margin-bottom: 0"><input style="margin-bottom: 0; border: none" type="text" class="js-input-from" id="amount" readonly /></p>#}
{#                            </div>#}
{#                            <div class="d-flex">#}
{#                            <p>до: </p>#}
{#                            <p><input style="border: none" type="text" class="js-input-to" id="amount" readonly /></p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </aside>#}
                <div class="box">

  <h3 class="mb-3 h6 text-black d-block">Цена</h3>
                    <div class="price-input">
        <div class="field">
            <div style="display:flex;">
          <span>от:</span>
          <input type="number" style="border: none; width: 78px" class="input-min" value="100000">
            </div>
            <div style="display:flex;">
            <span>до:</span>
          <input type="number" style="border: none; width: 78px;" class="input-max" value="750000">
            </div>
        </div>
        <div class="field">

        </div>
      </div>
      <div class="slider">
        <div class="progress"></div>
      </div>
      <div class="range-input">
        <input type="range" class="range-min" min="0" max="990000" value="200000" step="1000">
        <input type="range" class="range-max" min="0" max="1000000" value="750000" step="1000">
      </div>
{#    <div class="values">#}
{#        <div>₸<span id="first"></span></div> - <div>₸<span id="second"></span></div>#}
{#    </div>#}
{##}
{#    <div class="slider" data-value-0="#first" data-value-1="#second" data-range="#third"></div>#}

</div>

<!-- dribbble -->
              </div>

            <div class="border p-4 rounded mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Бренд</h3>
                  {% for brand in brands %}
                <label for="s_sm" class="d-flex">
                  <input type="checkbox" id="s_sm" class="mr-2 mt-1"> <span class="text-black">{{ brand.brand__title }}</span>
                </label>
                  {% endfor %}
                <p><button class="buy-now btn btn-sm btn-primary" id="add_to_card"  value="{{ item.slug }}" type="button" name="{{ item.title }}">Применить</button></p>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="site-section site-blocks-2">
                <div class="row justify-content-center text-center mb-5">
                  <div class="col-md-7 site-section-heading pt-4">
                    <h2>Categories</h2>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="images/women.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Women</h3>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="images/children.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Children</h3>
                      </div>
                    </a>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
                    <a class="block-2-item" href="#">
                      <figure class="image">
                        <img src="images/men.jpg" alt="" class="img-fluid">
                      </figure>
                      <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Men</h3>
                      </div>
                    </a>
                  </div>
                </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    {% include  'footer.html' %}
  </div>

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js'%}"></script>
  <script src="{% static 'js/popper.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'js/aos.js'%}"></script>
  <script src="{% static 'js/main.js'%}"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>#}
  <script src="https://cdpn.io/cpe/boomboom/pen.js?key=pen.js-2219196b-3514-a640-a3ea-997fd6b302a0" crossorigin=""></script>
  <script>
      const rangeInput = document.querySelectorAll(".range-input input"),
priceInput = document.querySelectorAll(".price-input input"),
range = document.querySelector(".slider .progress");
let priceGap = 1000;

priceInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minPrice = parseInt(priceInput[0].value),
        maxPrice = parseInt(priceInput[1].value);

        if((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max){
            if(e.target.className === "input-min"){
                rangeInput[0].value = minPrice;
                range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
            }else{
                rangeInput[1].value = maxPrice;
                range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
            }
        }
    });
});

rangeInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minVal = parseInt(rangeInput[0].value),
        maxVal = parseInt(rangeInput[1].value);

        if((maxVal - minVal) < priceGap){
            if(e.target.className === "range-min"){
                rangeInput[0].value = maxVal - priceGap
            }else{
                rangeInput[1].value = minVal + priceGap;
            }
        }else{
            priceInput[0].value = minVal;
            priceInput[1].value = maxVal;
            range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
            range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
        }
    });
});
  </script>
  </body>
    <script type="text/javascript">
    const buttons = document.querySelectorAll('button[id="add_to_card"]');
    console.log(buttons)
    for(let i = 0; i < buttons.length ; i++) {
        if(buttons[i].id == 'add_to_card'){
            console.log(buttons[i]['value'])
            buttons[i].addEventListener('click',function(e){
                e.preventDefault();
                $.ajax({
                    type:'POST',
                    url:'{% url "core:add-to-cart1" %}',
                    data:
                    {
                        slug:buttons[i]['value'],
                        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    dataType:'json',
                    success:function(){
                        let p = document.getElementById('number');
                        console.log(p)
                        alert("Добавлено в корзину " + buttons[i]['name']);
                    }
                })
            });
        }
    }
</script>
</html>