*{
    font-family: 'Rubik', sans-serif;
}
body{
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 20px 16%;
    height: 50px;
    align-items: center;
}
.header .adress{
    align-items: center;
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    width: 25%;
}
.header .links{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.header .logo{
    width: 25%;
}
.header .filters{
    width: 45%;
    display: flex;
    justify-content: space-between;
}
.header .filters .catalog{
    display: flex;
    justify-content: space-around;
    background-color: #7FC75B;
    padding: 2% 2%;
    border-radius: 10px;
    width: 20%;
}
.header .filters .catalog a{
    color: white;
    font-size: 90%;
}
.header .filters .search{
    width: 70%;
}
.header .filters .search input{
    width: 100%; 
    height:100%;
    border-radius: 10px;
    padding-left: 15px;
}
.header .icons{
    width: 15%;
    display: flex;
    justify-content: space-between;
}
.features{
    /*width: 100%;*/
    text-align: center;
    margin: 50px 16%;
    display: flex;
    justify-content: space-between;
}
.features h2{
    font-weight: bolder;
}
.sales{
    text-align: center;
    margin-bottom: 100px;
}
.sales h2{
    /*font-weight: normal;*/
    margin-bottom: 50px;
}
.comfy{
    width: 50%;
    font-size: 80%;
    font-weight: bold;
    text-align: center;
    margin: 50px 25%;
    display: flex;
    justify-content: space-between;
    height: 400px;
}
.block{
    width: 31%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.comfy .first{
    padding: 0 10px 0 10px;
    text-align: center;
    height: 32%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
}
.comfy .second{
    text-align: center;
    height: 62%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
}
.comfy .center{
    width: 31%;
    padding: 0 10px 0 10px;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10%;
    border-radius: 10px;
    border-style: solid;
}